*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ширина элемента */
  height: 100vh; /* Высота элемента в 100% от высоты видимой области браузера */
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  justify-content: center;
  place-items: end;
  gap: 30px;
  inline-size: 1140px 534px;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 399px ;
}

.content__list-container {
  position: relative;
  overflow-y: auto;
  block-size: 298px;
}

.content__list {
  display: flex;
  width: inherit;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 100%; /* Ширина изображения */
  height: 100%; /* Высота изображения */
  object-fit: cover; /* Изображение будет закрывать весь элемент */
  object-position: center; /* Выравниваем изображение по цент*/
  overflow: hidden;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  display: flex;
  justify-content: space-between; /* Пропорционально распределяем свободное пространство между элементами .search-form */
  align-items: flex-start; /* Прижимаем элементы .search-form к началу контейнера */
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #ffffff;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  letter-spacing: 0%;
  color: #ffffff;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  display: block;
  outline: none;
}

.content__video-card-title {
  margin-block-end: 6px;
  width: 196px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Количество строк, после которых текст будет обрезан */
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 196px;
  text-overflow: ellipsis;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  margin-top: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px; /* Отступы между чекбоксами */
  width: 212px;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content; /* Ширина элемента подстраивается под его содержимое */
  cursor: pointer;
}

.search-form__textfield {
  border: none;
  width: 225px;
  height: 27px;
  border-top: 1px solid #fff; /* Верхняя граница */
  border-bottom: 1px solid #fff; /* Нижняя граница */
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  font-family: inherit; /*  наследуем шрифта */
  font-size: inherit; /* наследуем размер шрифта */
  color: #fff; /* Цвет шрифта */
  background-color: transparent; /* Цвет фона */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Сброс стилей по умолчанию для разных браузеров */
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox {
  outline: none;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff; /* Стиль границы */
  cursor: pointer;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  display: block;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  position: relative;
  width: 15px;
  height: 15px;
  display: block;
  border: 1px solid #fff;
  margin: 1px;
}

.search-form__label:hover:has(.search-form__checkbox) {
  text-decoration: underline; /* Добавляем подчёркивание при наведении */
}

.search-form__label:focus-visible {
  outline: 1px solid #ffffff; /* обводка */
  outline-offset: 2px;
}

/* Кнопки */
.button {
  border: 1px solid currentColor;
  color: #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.5px;
  background-color: transparent; /* Прозрачный фон */
  cursor: pointer; /* Курсор в виде руки */
  padding: 6px 0px; /* Отступы внутри кнопки */
  text-decoration: none;
  outline: none;
}

.search-form__submit-button {
  /* Индивидуальные стили для кнопки «Найти» */
  align-self: end;
  width: 194px;
  height: 34px;
  margin-left: auto; /* Положение в конце контейнера */
}

.more-button {
  /* Индивидуальные стили для кнопки «Показать ещё» */
  width: calc(100% - 6px);
  height: 34px;
  margin: 30px 3px 0;
}

.button:hover {
  text-decoration: underline; /* Подчёркивание при наведении */
}

.button:active {
  background-color: #545050; /* фон активной кнопки */
}

.button:focus-visible {
  outline: 1px solid #ffffff; /* Обводка для кнопки в фокусе */
  outline-offset: 2px;
}

/* Карточки */
.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link:hover {
  text-decoration: underline; /* Подчёркивание при наведении */
}

.content__card-link:focus {
  outline: none; /* Сброс обводки для состояния :focus */
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff; /* Обводка для состояния :focus-visible */
  outline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050; /* Фон для активной карточки */
}

.content__card-link_current {
  background-color: #545050;
}
